<%- include('partials/header'); -%>
<header>
  <h2>HERE IS THE OVERVIEW OF YOUR ACCOUNT </h2>
</header>
<h2>Your current budget: <%= user.budget %> £</h2>
<br>
<div class="row-layout">
  <div class="scroll-r">
  <h1>Your expenses</h1>
  <% expenses.forEach((expense) => { %>
    <li>
      <p>Amount: <%= expense.amount %> £</p>
      <p>Date: <%= expense.date %></p>
      <p>Category: <%= expense.category %></p>
      <% if (expense.description){ %>
      <p>Description: <%= expense.description %></p>
      <% }  %>
    </li>
  <% }) %>
  </div>
  <div class="scroll-gr">
  <h1>Your incomes</h1>
  <% incomes.forEach((income) => { %>
  <li>
    <p>Amount: <%= income.amount %> £</p>
    <p>Date: <%= income.date %></p>
    <p>Category: <%= income.category %></p>
    <% if (income.description){ %>
    <p>Description: <%= income.description %></p>
    <% } %>
  </li>

  <% }) %>
  </div>
</div>

<div class="row-layout">
  <div>
    <h2>Your current funds</h2>
    <% user.funds.reverse().forEach((fund) => { %>
    <li>
      <p>To raise: <%= fund.amount %> £</p>
      <div class="fundBarContainer" data-name="<%= fund.name %>" data-amount="<%= fund.amount %>" data-raised="<%= fund.raisedAmount %>">
      <div class="fundBar" style="width: 0%;"></div>
      <p> <%= fund.name %> and raised: <%= fund.raisedAmount%></p>
      </div>
    </li>
    <% }) %>
    </div>
</div>
<%- include('partials/footer'); -%>
